@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap");

:root {
  --clr-Red: hsl(14, 86%, 42%);
  --clr-Green: hsl(159, 69%, 38%);
  --clr-Rose-50: hsl(20, 50%, 98%);
  --clr-Rose-100: hsl(13, 31%, 94%);
  --clr-Rose-300: hsl(14, 25%, 72%);
  --clr-Rose-400: hsl(7, 20%, 60%);
  --clr-Rose-500: hsl(12, 20%, 44%);
  --clr-Rose-900: hsl(14, 65%, 9%);
}

@font-face {
  font-family: "RedHatText";
  src: url("./assets/fonts/RedHatText-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RedHatText";
  src: url("./assets/fonts/RedHatText-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow: hidden scroll;
}

body {
  font: 16px "RedHatText", sans-serif;
  padding: 0;
  margin: 0;
  background-color: var(--clr-Rose-100);
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1440px;
  padding: 1rem;
  margin-inline: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img,
button {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

button {
  cursor: pointer;
}

button:disabled {
  opacity: 0.5 !important;
  cursor: default;
}

button.primary {
  width: 100%;
  padding-block: 0.7rem;
  color: var(--clr-Rose-50);
  background-color: var(--clr-Red);
  outline-offset: -4px;
  border-radius: 100px;
  border: none;
}

button.primary:is(:hover, :focus-visible) {
  outline: 2px solid var(--clr-Rose-50);
  filter: brightness(1.1);
}

h2,
.total-container .total {
  font-family: "Libre Franklin", sans-serif !important;
  margin: 0;
}

section#desserts {
  position: relative;
  flex: 1 1 70%;
}

section#desserts .header {
  position: sticky;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--clr-Rose-100);
  box-shadow: 0 -16px 0 0 var(--clr-Rose-100),
    0 -9px 21px 37px var(--clr-Rose-100);
  z-index: 11;
}

section#desserts h2 {
  color: var(--clr-Rose-900);
}

section#desserts a {
  color: var(--clr-Red);
}

aside {
  position: relative;
  flex: 1 1 30%;
  margin-bottom: 2rem;
}

@media (min-width: 463px) {
  main {
    padding-inline: 2rem;
  }
}

@media (min-width: 550px) {
  section#desserts h2 {
    font-size: 2rem;
  }
}

@media (min-width: 950px) {
  main {
    flex-wrap: nowrap;
  }
}

.desserts {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.card {
  --duration: 150ms;

  font-size: 0.9em;
  line-height: 2.1ch;
  transition: all var(--duration) linear;
  scale: 0.5;
  opacity: 0.5;
}

.card.show {
  scale: 1;
  opacity: 1;
}

.card picture img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card:has(.quantity-button) picture img {
  outline: 2px solid var(--clr-Red);
}

.card .button-container {
  transform: translateY(calc(-50% - 5px));
}

.card button.cart-button,
.card .button-container .quantity-button {
  display: flex;
  align-items: center;
  width: 143px;
  height: 35px;
  margin-inline: auto;
  border-radius: 100px;
}

.card button.cart-button {
  justify-content: center;
  gap: 10px;
  font-weight: 700;
  padding: 0.4rem 1.2rem;
  margin-inline: auto;
  border: 1px solid var(--clr-Rose-500);
  color: var(--clr-Rose-900);
  background-color: var(--clr-Rose-50);
  outline-color: var(--clr-Red);
}

.card button.cart-button:is(:hover, :focus-visible) {
  color: var(--clr-Red);
  border-color: var(--clr-Red);
}

.card button.cart-button img {
  width: 20px;
  aspect-ratio: 1;
}

.card button.cart-button span {
  text-wrap: nowrap;
}

.card .button-container .quantity-button {
  justify-content: space-between;
  padding: 0.4rem;
  color: var(--clr-Rose-50);
  background-color: var(--clr-Red);
}

.card .quantity-button button {
  display: grid;
  place-content: center;
  width: 20px;
  height: 20px;
  font-size: 1rem;
  color: inherit;
  border: 1px solid;
  background-color: transparent;
  border-radius: 100px;
  outline: var(--clr-Rose-50);
}

.quantity-button button:not(:disabled):is(:hover, :focus-visible) {
  color: var(--clr-Red);
  background-color: var(--clr-Rose-50);
}

.card button.decrement-button {
  padding-bottom: 3px;
}

.card .details {
  display: flex;
  flex-direction: column;
  transform: translateY(-10px);
}

.card .category {
  font-size: 0.85em;
  color: var(--clr-Rose-500);
}

.card .name {
  font-weight: 600;
  color: var(--clr-Rose-900);
}

.card .price {
  font-size: 0.9em;
  font-weight: 600;
  color: var(--clr-Red);
}

#cart {
  position: sticky;
  top: 1rem;
  text-align: center;
  width: 100%;
  padding: 1rem;
  background-color: var(--clr-Rose-50);
  border-radius: 10px;
}

#cart h2 {
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 10px;
  color: var(--clr-Red);
}

#cart > img {
  margin-top: 2rem;
}

#cart p {
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: var(--clr-Rose-500);
}

.items {
  text-align: left;
}

.items .item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
  padding-block: 1rem;
  border-bottom: 2px solid var(--clr-Rose-100);
}

.items .item .item-image {
  flex-shrink: 0;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 4px;
  overflow: hidden;
}

.items .item .details {
  display: grid;
  gap: 5px;
  font-weight: 700;
}

.items .details .name {
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--clr-Rose-900);
  overflow: hidden;
}

.items .item .info {
  display: flex;
  gap: 0.5rem;
  font-size: 0.95em;
  color: var(--clr-Rose-400);
}

.items .details .quantity {
  color: var(--clr-Red);
}

.items .details .price {
  font-weight: 400;
}

.items .item > .total-price {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--clr-Rose-900);
}

.items .item > .total-price,
.items button.remove {
  margin-left: auto;
}

.items .item button.remove {
  display: grid;
  padding: 2px;
  border: 1px solid var(--clr-Rose-400);
  background-color: transparent;
  border-radius: 100px;
  outline-color: var(--clr-Rose-400);
  outline-offset: 1px;
}

.items button.remove:hover {
  filter: brightness(0.8);
}

.total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  padding-block: 1.5rem;
  color: var(--clr-Rose-900);
}

.total-container .total {
  font-size: 1.5rem;
  font-weight: 700;
}

#cart .delivery-type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  padding: 1rem;
  margin-bottom: 1rem;
  color: var(--clr-Rose-900);
  background-color: var(--clr-Rose-100);
  border-radius: 5px;
}

#cart button.confirm-button {
  font-size: 0.95rem;
  max-width: 240px;
  margin-left: auto;
}

@media (min-width: 550px) {
  #cart h2 {
    font-size: 1.3rem;
  }
  #cart .items .item {
    font-size: 0.9rem;
  }
}

dialog {
  --radius: 10px;

  font-size: 0.85rem;
  width: 100%;
  max-width: none;
  max-height: 85%;
  padding: 1.2rem;
  margin-bottom: 0;
  color: var(--clr-Rose-500);
  background-color: var(--clr-Rose-50);
  overflow: hidden auto;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border: none;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.45);
}

dialog .icon {
  width: 40px;
  height: 40px;
  margin-block: 0.8rem 1rem;
}

dialog h2 {
  font-size: 1.7rem;
  width: 50%;
  color: var(--clr-Rose-900);
}

dialog p {
  margin-block: 0.5rem;
}

dialog .order {
  min-height: 10px;
  margin-block: 1.5rem;
  background-color: var(--clr-Rose-100);
  border-radius: var(--radius);
  overflow: hidden;
}

dialog .order .items {
  padding-inline: 1.2rem;
  max-height: 150px;
  overflow: hidden auto;
}

dialog .order .item {
  border-bottom: 1px solid var(--clr-Rose-300);
}

dialog .total-container {
  padding-inline: 1.2rem;
}

dialog button {
  padding-inline: 1.4rem;
}

@media (min-width: 600px) {
  dialog {
    max-width: 500px;
    margin-bottom: auto;
    border-radius: var(--radius);
  }
}
